<!DOCTYPE html>
<html class="antialiased">
  <head>
    <%
      default_title = "pingrb — a tiny push notification app to stay on top of your indie business"
      default_description = "I wanted alerts on my phone for the dev tools I use. Nothing out there was quite right, so I built this."
      page_title = content_for?(:title) ? content_for(:title) : default_title
      page_description = content_for?(:description) ? content_for(:description) : default_description
    %>
    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="pingrb">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

    <% og_image_url = image_url("og.png") %>
    <meta property="og:title" content="<%= page_title %>">
    <meta property="og:description" content="<%= page_description %>">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:image" content="<%= og_image_url %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="pingrb">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= page_title %>">
    <meta name="twitter:description" content="<%= page_description %>">
    <meta name="twitter:image" content="<%= og_image_url %>">
    <meta name="twitter:site" content="@joemasilotti">
    <meta name="twitter:creator" content="@joemasilotti">

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :ruby_native %>
    <%= javascript_importmap_tags %>
    <%= render "shared/fathom" %>
  </head>

  <body class="isolate min-h-dvh bg-white font-sans text-sm text-neutral-900">
    <% if authenticated? && !native_app? %>
      <%= render "shared/header" %>
    <% end %>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
