<!DOCTYPE html>
<html class="antialiased">
  <head>
    <title><%= content_for(:title) || "pingrb" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="pingrb">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="isolate min-h-dvh bg-white font-sans text-sm text-neutral-900">
    <% if authenticated? %>
      <%= render "shared/header" %>
    <% end %>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
